*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(237, 237, 252);
}
.navigation{
    background-color: rgb(32, 68, 136);
    color: white;
    height: 145px;
}
.left{
    position:absolute;
    left: 9rem;
}
.left h1{
    font-size: 60px;
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.right{
    display: flex;
    position: absolute;
    right: 15rem;
    margin-top: 30px;
    /* text-decoration: none; */
    margin-left: 10px;

}
#btn{
    position: absolute;
    right: 8rem;
    margin-top: 59px;
    background-color: rgb(59, 114, 197);
    color: white;
    font-size :20px;
    padding: 5px;
}
.r1{
    display:grid;
}
.r1 input{
    font-size: 25px;
}

.r2{
    display:grid;   
}
.r2 input{
    font-size: 22px;
}
.r2 a{
    color: white;
    text-decoration: none;
}
.mid{
    float: center;
    margin-left: 4.5em;
    margin-top: 50px;
    width: 40%;
    font-size: 2em;
    color: rgb(32, 68, 136);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signup{
    width: 30%;
    position: absolute;
    right: 15rem; 
    margin-top:-80px;
    color: rgb(32, 68, 136);
}
.signup h1{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
hr{
    font-weight: bold;
    margin: 12px;
}

.signup h2{
    font-weight: lighter;
}
.form {
   font-size: 1.2rem;
   display: inline;
}
input{
    outline: none;
    font-size: 30px;
    margin: 7px;
    border-color: rgb(137, 168, 226);
}
.terms{
    font-size: 17px;
    color: black;
    width: 60%;
    padding: 15px;
    margin-left: 75px; 
}
.btn1{
    /* position: absolute;
    right: 25px; */
    color: white;
    padding: 9px;
    background-color: rgb(2, 138, 2);
    font-weight: bold;
    font-size: 15px;
    margin-left: 95px;
    width: 30%;
    border-radius: 5px;
}
#terms a{
    text-decoration: none;
    color: rgb(32, 68, 136);
    padding-top: 15px;
}

