/* CSS reset */

*{
    margin: 0;
    padding: 0;
}
/* CSS Variables */
:root{
    --navbar-height: 50px;
}
/* navigation bar */
#navbar{
    background-color: rgb(54, 15, 15);
    position: relative;
    display: flex;
    align-items: center; 
    top: 0px;
    left: 0px;  
}
#navbar ::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
/* logo and image */
#logo{
    margin: 10px 30px;
}
#logo img{
    /* margin:3px 6px ; */
    border-radius: 100px;
    padding: 10px 5px;
    /* width: auto; */
    height: 70px;
}
#navbar ul{
    display: flex;

}
#navbar  ul li{
    list-style: none;
    font-size: 1.3rem;
    list-style: none;
}
#navbar ul li a{
    color: bisque;
    display: block;
    padding:22px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Mate SC', serif;
} 
#navbar ul li a:hover{
    color:black ;
    background-color: azure;
} 


/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 525px;
    justify-content: center;
    color:rgb(58, 9, 9);
    align-items: center;
}
#home::before{
    content:'';
    position:absolute;
    background: url('img/foodpic2.jpg') no-repeat center center/cover;
    height: 635px;
    width: 100%;
    z-index: -1;
    opacity: .9;
    top: 0px;
    left: 0px;
}
/* Services Section */
#services{
    display: flex;
    justify-content: center;
    
}
#services .box{
    border: 2px solid rgb(243, 21, 21);
    margin: 5px 8px;
    border-radius: 20px;
    background-color: rgb(161, 144, 144);
    padding: 30px;
    /* align-items: center; */

}
#services .box img{
    height: 100px;
    margin: auto;
    display: block;
}
/* #services {} */
/* #services{} */
/* Client Section */
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client-section{
    height: 344px;
    position: relative;
    margin-bottom: -70px;
}
#clients::before{
    content: '';
    position: absolute;
    background-color: rgb(128, 25, 94);
    /* background: url(img/foodpic6.jpg) no-repeat center center/cover; */
    z-index: -1;
    width: 100%;
    height: 50%;
    opacity: .6;

}
.clients-item{
    align-items: center;
}
#clients img{
    height: 124px;
    padding: 22px;
}

/* utility class */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
}
.h-secondary{
    font-size: 2rem ;
    padding:12px ;
    text-align: center;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white ;
    background-color: rgb(219, 99, 163);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
/* Contact section */
#contact{
    margin: 0;
    position: relative;   
}
#contact-box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    /* background-color: rgb(88, 37, 27); */
    z-index: -1;
opacity: .5;
}
#contact-box{
    background-color: rgb(131, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;

}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: .5rem;
    border-radius: 10px;

}
#contact-box form{
    padding: 20px;
    width: 40%; 
}
#contact-box label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    margin-top: 2%;
}
body{
    background-color: rgb(255, 255, 255);
}